<header class="h-100">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink="/"><strong>Classic Travel</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/cities">Города</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/hotels">Отели</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/files">Файлы</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect *ngIf="cookies.getAuth()">
          <a class="nav-link" (click)="logOut()">Выход</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect *ngIf="!cookies.getAuth()">
          <a class="nav-link" routerLink="/auth">Вход</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
