<footer class="page-footer font-small elegant-color-dark pt-4" style="position: fixed; bottom: 0; width: 100%">

  <!-- Footer Elements -->
  <div class="container">

    <ul class="list-unstyled list-inline text-center" style="width: 100%">
      <li class="list-inline-item">
        <mdb-icon fab icon="github-alt" size="2x"></mdb-icon>
      </li>
      <li class="list-inline-item" style="margin-left: 20px">
        <mdb-icon fab icon="instagram" size="2x"></mdb-icon>
      </li>
      <li class="list-inline-item" style="margin-left: 20px">
        <mdb-icon fab icon="vk" size="2x"></mdb-icon>
      </li>
    </ul>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">2019 Интернет-программирование
    <a href="https://mdbootstrap.com/education/bootstrap/">Максин И.П.</a>
  </div>
  <!-- Copyright -->

</footer>
