<div class="home-info">
  <h1 class="home-label">Туристическое агентство <br/><span>Classic Travel</span></h1>
  <button type="button" mdbBtn color="dark" mdbWavesEffect>Начать</button>
</div>
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Выбор</h1>
      <p>Вы можете отправиться в любую точку мира</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Удобство</h1>
      <p>Выбирайте направление путешествия и заказывайте билеты прямо на сайте, не выходя из дома</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Надежность</h1>
      <p>Вы не будете обмануты при покупке билетов через наше агенство</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
